extends layout

block content
    section.section
        .container

            h1.title.has-text-centered
                | Single Task View

            .tabs.is-centered
                ul
                    a(href='/tasks')
                        b Tasks
                    a(href='/epics') Epics
                    a(href='/sprints') Sprints

            main(container).tasks-list
                div(style='width: 100%; display: flex; padding-bottom: 10px; justify-content: flex-end; align-items: baseline')
                    div(style='padding: 5px 15px')
                        a.show-modal(href='#' style='color: inherit')
                            i.fas.fa-pen-square(style='margin-right: 8px;')
                            | Edit
                    div(style='padding: 5px 15px')
                        a(href=`/task/${task.id}/delete` style='color: inherit')
                            i.fas.fa-trash-alt(style='margin-right: 8px;')
                            | Delete
                table.table.is-fullwidth
                    tr
                        th(style='text-align: center') ID
                        th Name
                        th Description
                        th Acceptance Criteria
                        th State
                        th Points
                        th Epic
                        th Sprint
                    include components/task

            .modal
                .modal-background
                .modal-card
                    header.modal-card-head
                        p.modal-card-title Update task
                        button.delete(aria-label='close')
                    section.modal-card-body
                        form(action=`/task/${task.id}` method='POST').record-form#record-form
                            .field
                                .control
                                    input.input(name='name' type='text' placeholder='Name' value=task.name)
                            .field
                                .control
                                    textarea.textarea(name='description' placeholder='Description')=task.description
                            .field
                                .control
                                    textarea.textarea(name='acceptance_criteria' placeholder='Acceptance Criteria')=task.acceptance_criteria
                            .field
                                .select
                                    select(name='state' selected=task.state)
                                        if task.state = 'draft'
                                            option(value='draft' selected) Draft
                                        else
                                            option(value='draft') Draft
                                        if task.state = 'open'
                                            option(value='open' selected) Open
                                        else
                                            option(value='open') Open
                                        if task.state = 'work_in_progress'
                                            option(value='work_in_progress' selected) Work in Progress
                                        else
                                            option(value='work_in_progress') Work in Progress
                                        if task.state = 'ready_for_testing'
                                            option(value='ready_for_testing' selected) Ready for Testing
                                        else
                                            option(value='ready_for_testing') Ready for Testing
                                        if task.state = 'testing'
                                            option(value='testing' selected) Testing
                                        else
                                            option(value='testing') Testing
                                        if task.state = 'completed'
                                            option(value='completed' selected) Completed
                                        else
                                            option(value='completed') Completed
                            .field
                                .control
                                    input.input(name='points' type='number' placeholder='0' value=task.points)
                            .field
                                .control
                                    if task.epic != null
                                        input.input(name='epic' type='number' placeholder='Epic ID' value=task.epic.id)
                                    else
                                        input.input(name='epic' type='number' placeholder='Epic ID')
                            .field
                                .control
                                    if task.sprint != null
                                        input.input(name='sprint' type='number' placeholder='Sprint ID' value=task.sprint.id)
                                    else
                                        input.input(name='sprint' type='number' placeholder='Sprint ID')
                            .field
                                .control
                                    button.button.is-link Update